<h1>Simulations</h1>
<%= render 'dinosaurs/data', dinosaur: @simulation.dinosaur1 %>
<%= render 'dinosaurs/data', dinosaur: @simulation.dinosaur2 %>

<div class='row'>
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#full_graph">Full Graph</a></li>
      <li class="tab col s3"><a class="active" href="#pruned_graph">Pruned Graph</a></li>
    </ul>
  </div>
  <div id="full_graph" class="col s12"><%= @full_graph.html_safe %></div>
  <div id="pruned_graph" class="col s12"><%= @pruned_graph.html_safe %></div>
</div>

<script>
  $('.tabs').tabs();
  //var instance = M.Tabs.init(el, options);
</script>
